<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        i {
            color: #FFF;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <table border="1" style="border-collapse: collapse" class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Mã hóa đơn</th>
            <th>Nhân viên</th>
            <th>Khách hàng</th>
            <th>Ngày tạo</th>
            <th>Sản phẩm</th>
            <th>Số lượng</th>
            <th>Giá bán</th>
            <th>Thành tiền</th>
            <th>Trạng thái</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hdct, i : ${hoaDonChiTiet}">
            <td th:text="${i.count}"></td>
            <td th:text="${hdct.hoaDon.ma}"></td>
            <td th:text="${hdct.hoaDon.nhanVien.ten}"></td>
            <td th:text="${hdct.hoaDon.khachHang.ten}"></td>
            <td th:text="${hdct.hoaDon.ngayTao}"></td>
            <td th:text="${hdct.chiTietSP.sanPham.ten}"></td>
            <td th:text="${hdct.soLuong}"></td>
            <td th:text="${hdct.donGia}"></td>
            <td th:text="${hdct.donGia * hdct.soLuong}"></td>
            <td th:text="${hdct.hoaDon.tinhTrang == 1 ? 'Đã thanh toán' : 'Chưa thanh toán'}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>