<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        i {
            color: #FFF;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <table border="1" style="border-collapse: collapse" class="table table-hover">
        <tr class="thead-dark">
            <th>#</th>
            <th>Mã HD</th>
            <th>ID NV</th>
            <th>ID KH</th>
            <th>Ngày tạo</th>
            <th>Trạng thái</th>
<!--            <th>Hình thức</th>-->
            <th>Hành động</th>
        </tr>

        <tr th:each="hd, i : ${hoaDon}">
            <td th:text="${i.count}"></td>
            <td th:text="${hd.ma}"></td>
            <td th:text="${hd.nhanVien.id}"></td>
            <td th:text="${hd.khachHang.id}"></td>
            <td th:text="${hd.ngayTao}"></td>
            <td th:text="${hd.tinhTrang == 1 ? 'Đã thanh toán' : 'Chưa thanh toán'}"></td>
            <td>
                <div class="d-flex justify-content-around">
                    <a type="button" class="btn btn-info w-100 m-2" th:href="@{/admin/hoa-don/detail/{id}(id=${hd.id})}">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>