<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        i {
            color: #FFF;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <table border="1" style="border-collapse: collapse" class="table table-hover">
        <tr class="thead-dark">
            <th>#</th>
            <th>Mã NV</th>
            <th>Họ</th>
            <th>Tên đệm</th>
            <th>Tên</th>
            <th>Giới tính</th>
            <th>Ngày sinh</th>
            <th>Số điện thoại</th>
            <th>Địa chỉ</th>
            <th>Trạng thái</th>
            <th>Hành động</th>
        </tr>

        <tr th:each="nv, i : ${nhanVien}">
            <td th:text="${i.count}"></td>
            <td th:text="${nv.ma}"></td>
            <td th:text="${nv.ho}"></td>
            <td th:text="${nv.tenDem}"></td>
            <td th:text="${nv.ten}"></td>
            <td th:text="${nv.gioiTinh == 1 ? 'Nam' : 'Nữ'}"></td>
            <td th:text="${nv.ngaySinh}"></td>
            <td th:text="${nv.sdt}"></td>
            <td th:text="${nv.diaChi}"></td>
            <td th:text="${nv.trangThai == 1 ? 'Hoạt động' : 'Ngừng hoạt động'}"></td>
            <td>
                <div class="d-flex justify-content-around">
                    <a type="button" class="btn btn-info w-100 m-2" th:href="@{/admin/nhan-vien/detail/{id}(id=${nv.id})}">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a type="button" class="btn btn-primary w-100 m-2"  th:href="@{/admin/nhan-vien/view-update/{id}(id=${nv.id})}">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                </div>
            </td>
        </tr>
    </table>
    <a type="button" class="btn btn-success w-100 mb-3" href="/admin/nhan-vien/view-add">
        <i class="fa-solid fa-plus"></i>
    </a>
</div>
</body>
</html>